body {
    background: url(sp.jpg) center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: auto;
    background-size: cover;
    text-align: ;
}


h1 {
    border-radius: 10px;
}

p1 {
    font-family: sans-serif;
    color: white;
    font-size: x-large;
    margin-left: 30px;
}

ul {
    font-family: sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    text-decoration: none;
    border-right: 2px solid #bbb;
    font-size: x-large;
    background-color: grey(68, 68, 68);
}

ul li {
    display: inline;
    color: white;
    padding: 14px 16px;
    border-right: 1px solid #bbb;
}

ul li a {
    text-decoration: none;
    color: white;
}

ul li a:hover {
    color: grey;
}

.column {
    float: center;
    height: 70%;
    width: 70%;
    max-width: 380px;
    max-height: 200px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}


.row:after {
    clear: both;
    display: flex;
}


img {
    top: 10px;
}

h3 {
    line-height: 10%;
    color: white;
    text-align: center;
    font-size: 60px;
    padding-bottom: auto;

}


h2 {
    color: white;
    text-align: center;
    background-color: grey;
    background-position: auto;
    border-radius: 12px;
    font-size: 300%;
}


    {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: auto;
    max-width: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-content: center;
    padding: 30px;
}

.polaroid:hover {
    transform: scale(1.1);
}

.polaroid {
    background-color: rgba(10, 23, 55, 0.5);
    padding: 15px 15px 30px;
}

.photo {
    width: 100%;
    height: 290px;
    object-fit: cover;
}

p {
    text-align: center;
    font-family: sans-serif;
    font-size: large;
    color: white;
}

h4 {
    text-align: center;
    font-family: sans-serif;
    font-size: x-large;
    color: white;
}


.footer {
    margin-top: 200px;
    width: 100% 10%;
    padding: 50px 15%;
    background: #333;
    color: #efefef;
    display: flex;
}

.footer div {
    text-align: center;
}

.col-2 {
    flex-grow: 2;
}

.footer div h3 {
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.col-1 a {
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;
}


.float {
    right: 25px;
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    text-align: center;
    z-index: 100;
}
